<div id="game-container">

<div id="title-bar">
	<img id="small-title" src="images/title.png">
	<div class="advertisment">
		<img src="images/advertisment.png">
	</div>
	<div id='donateButton' class="button" onclick="buttonClick('donate')">
		Donate
	</div>
</div>
<canvas width="1274" height="850" id="theGameTitle" style="z-index:2;">
</canvas><canvas width="850" height="850" id="theGame">
</canvas><canvas width="424" height="850" id="theGameMenu">
</canvas>
</div>
<div class="outer-float-container">
    <div id="center-container" class="inner-float-container has-background">
    	<!-- content goes here -->
    </div>
</div>
<div class="button lock" id="button-log-out" onclick="buttonClick('log-out')">
	log Out
</div>