<div id="login">
	<input id="nickname" class="input focus" type="text" placeholder="Nickname" onkeypress="keyPress(event,'login-play')"/>
	<input id="password" class="input focus2" type="password" placeholder="Password" onkeypress="keyPress(event,'login-play')"/>
	<div class="error" id='login-error'>
	</div>
	<div class="button lock" id="button-back" onclick="buttonClick('back')">
		Back
	</div>
	<div class="button lock" id="button-login-play" onclick="buttonClick('login-play')">
		Play
	</div>
	<div class="button lock" id="button-register" onclick="buttonClick('register')">
		register
	</div>
</div>