	<div id="header">
		<img id="title" src="images/title.png"/>
		<div>
			<div id="subtitle" class="has-background">
				<h2 id="description">
					A Massively multiplayer online game for the Brave
				</h2>
			</div>
		</div>
	</div>
	<div id="help-button" onclick="buttonClick('help')">
	</div>
	<div id="main-content">
		<div id="center-container">
			<!-- menu loads here -->
			<p>
				loading...
			</p>
			<img src="images/loading.gif"/>
		</div>
	</div>
	<div id="bottom-bar">
		<ol class="horizontal-list">
			<li class="bottom-bar-item" id="share">
				Share
			</li>
			<li class="bottom-bar-item" id="privacy">
				Privacy
			</li>
			<li class="bottom-bar-item" id="legal">
				Legal
			</li>
			<li class="bottom-bar-item" id="credit" onclick="buttonClick('credit')">
				Credit
			</li>
		</ol>
	</div>