<div id="register">
	<input id="nickname" class="input focus" type="text" placeholder="Nickname" maxlength="16" onkeypress="keyPress(event,'register-play')"/>
	<input id="password" class="input" type="password" placeholder="Password" onkeypress="keyPress(event,'register-play')"/>
	<input id="email" class="input" type="text" placeholder="Email" onkeypress="keyPress(event,'register-play')"/>
	<div class="error" id='register-error'>
	</div>
	<div class="button lock" id="button-back" onclick="buttonClick('back')">
		Back
	</div>
	<div class="button lock" id="button-register-play" onclick="buttonClick('register-play')">
		Play
	</div>
</div>